:root {
    --active1: #7cae43;
    --active: #7cae43;
    --themetext: #ffa600;
    --themetext1: #ccc;
    --linkcolor: #353535;
    --colorblacktowhite: #353535;
    --colortxtgray: #fff;
    --bodybgk: #f5f5f5;
    --navbgk: #8bc34a;
    --navbrd: #71a114;
    --searchbgk: #8bc34a;
    --searchbrd: #aadd46;
    --topbgk: #1e1e1e;
    --toptxtclr: #909090;
    --logodtext: grey;
    --topbuttonbgk: #8bc34a;
    --topbuttonbgkhover: rgb(151, 211, 81);
    --topvk: rgb(14, 172, 221);
    --topvkhover: rgb(14, 187, 240);
    --profiletxtcolor: #888888;
    --h1color: #4f4b45;
    --h1border: #89c80e;
    --righth1color: #4f4b45;
    --rightorangebuttons: rgb(125, 177, 64, 0.92);
    --rightbluebuttons: rgb(14, 172, 221);
    --rightgreenbuttons: rgba(125, 177, 64, 0.92);
    --rightorangebuttonshover: #8bc34a;
    --rightbluebuttonshover: #10b5e8;
    --rightgreenbuttonshover: #8bc34a;
    --lastcommentshover: #8bc34a;
    --hrcolor: #e8e8e8;
    --torrentbutton: rgb(139, 195, 74);
    --torrentbuttontxt: #fff;
    --aboutwindowtxt: #353535;
    --aboutwindowborder: #89c80e;
    --aboutwindowbgk: #fff;
    --smsbgk: #eee;
    --smsborder: #31b5de;
    --smsh1: #FF5722;
    --smstxt: #4f4b45;
    --smsinnerborder: #f0f0f0;
    --smsshadow: #fff;
    --smsbgk: #fff;
    --smssmallborder: #e0e0e0;
    --underh1title: #797979;
    --ratingyellow: #e6c200;
    --updatedbgk: #edf1f9;
    --subupdate: rgb(225, 228, 233);
    --tablecolor: grey;
    --buttonrekbgk: #55acee;
    --buttonrekbrd: #325a9f;
    --buttonrekshd: #4a86ef;
    --buttonrekbgkhover: #66ceff;
    --buttonrekbrdhover: #3e70c7;
    --spoilerbgk: #eee;
    --spoilerbgk2: #e3e3e3;
    --spoilerborder: #89c80e;
    --buttonbgk: #8bc34a;
    --textareabgk: #fff;
    --inputbgk: #fff;
    --nextbuttbgk: #515151;
    --nextbuttbgkhover: #89c80e;
    --textareaborder: #d9d9d9;
    --pageswitchhr: #ececec;
    --navigationbuttons: #353535;
    --outlinecolor: #f78181;
    --outline1color: #00f28d;
    --topimgborder: #fff;
    --topimgborderhover: #53da3f;
    --offstatus: #797979;
    --onstatus: #8bc34a;
    --ratinggreen: #92e068;
    --ratingred: #e6c200;
    --statsarea: #fff url('../dleimages/orating_h4.png') repeat-x;
    --statsborder: #eee;
    --statsnumbgk: #ddd;
    --statsnumbgkhover: #546338;
    --statslink: #82ac34;
    --statsum: #ccc;
    --greenstatstop: #aec97b;
    --greenstatsbottom: #6e912c;
    --greenstatsbgk: #82ac34;
    --redstatstop: #dd8484;
    --redstatsbottom: #a13535;
    --redstatsbgk: #cb4242;
    --statsuserhover: #fff;
    --abusebgk: #fff;
    --sortborder: #d9d9d9;
    --smsbigbrd: #fff;
    --smsbigbgk: #fff;
    --smsclosebgk: #90CAF9;
    --smsclosebrd: #90CAF9;
    --smsh3: #0eacdd;
    --smsheadline: #cbdfe8;
    --smsheadline2: #f0f0f0;
    --smsdate: #bbb;
    --smsbighover: #f3faf3;
    --smsuser: #0f60a0;
    --smslink: #5d5454;
    --smslinkhover: #2196F3;
    --smsdate2: #888;
    --smsinputbrd: rgb(55, 59, 62);
    --scrollbar: #d1d2d2;
    --scrollbarcorner: #cfd0d0;
    --scrollbarthumb: #ababab;
    --smsdate3: #777;
    --popupbgkedit: #89c80e;
    --mention: #1565C0;
    --lightcommhr: #F5F5F5;
    --ratingnull: #d9d9d9;
    --gamesortbgk: #fff;
    --gamesortbrd: #89c80e;
    --commloading: #8bc34a;
    --commactions: #9f9f9f;
    --commlike: #89c80e;
    --commlike2: #2fe32f;
    --commdate: #8bc34a;
    --newgamesbutton: rgb(247, 88, 88);
    --newgamesbuttonhover: #f67b7b;
    --rightgreenbuttonshover2: #99d651;
    --nonregisterinfo: #8bc34a;
    --info: #89c80e;
    --main1: #fff;
    --fullinfo: #f5f5f5;
    --darkinput: 0 0 0px 1000px #ffffff inset;
    --sorthover: #89c80e;
    --sorthover2: #6da205;
    --logo: #8bc34a;
    --searchseperator: #89c80e;
    --searchseperatorbrd: #89c80e;
    --searchpoptext: #89c80e;
    --vkbutton: #27A5E7;
}
body {
    background-color: var(--outlinecolor);
}